# Modules

zmodule completion
zmodule git
zmodule magic-enter
zmodule fzf
zmodule smite # Run smite to remove shell history
zmodule termtitle
zmodule archive

zmodule zsh-users/zsh-autosuggestions
zmodule zdharma-continuum/fast-syntax-highlighting

zmodule shanwker1223/zim-alias-finder

#zmodule MichaelAquilina/zsh-you-should-use

#zmodule zsh-users/zsh-completions --fpath src
#zmodule Aloxaf/fzf-tab
#zmodule djui/alias-tips
